.container{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.name{

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.image{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}
.content{


}

.footer{

}

